[MASTER]
init-hook="from pylint.config import find_pylintrc; import os, sys; sys.path.append(os.path.dirname(find_pylintrc()))"
max-line-length=120

disable=missing-class-docstring, missing-function-docstring, line-too-long
