mongomock==4.0.0
pymongo==4.6.3
requests==2.32.0
aiodataloader==0.4.0
ariadne==0.23
python-dotenv==1.0.1
uvicorn==0.18.1
ensembl-metadata-api@git+https://github.com/Ensembl/ensembl-metadata-api.git@3.2.1a1
grpcio==1.66.1
grpcio-tools==1.66.1
ensembl-utils==0.4.4
ensembl-py==2.1.3
