aiodataloader==0.4.2
anyio==4.9.0
ariadne==0.26.2
asgiref==3.8.1
async-timeout==5.0.1
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.1
Deprecated==1.2.18
dnspython==2.7.0
ensembl-py==2.1.3
ensembl-utils==0.4.4
exceptiongroup==1.3.0
googleapis-common-protos==1.70.0
graphql-core==3.2.5
greenlet==3.2.2
grpcio==1.72.1
grpcio-reflection==1.54.0
grpcio-tools==1.54.0
h11==0.16.0
idna==3.10
importlib_metadata==8.6.1
iniconfig==2.1.0
mongomock==4.3.0
opentelemetry-api==1.33.1
opentelemetry-distro==0.54b1
opentelemetry-exporter-jaeger==1.21.0
opentelemetry-exporter-jaeger-proto-grpc==1.21.0
opentelemetry-exporter-jaeger-thrift==1.21.0
opentelemetry-exporter-otlp-proto-common==1.33.1
opentelemetry-exporter-otlp-proto-grpc==1.33.1
opentelemetry-instrumentation==0.54b1
opentelemetry-instrumentation-asgi==0.54b1
opentelemetry-instrumentation-starlette==0.54b1
opentelemetry-proto==1.33.1
opentelemetry-sdk==1.33.1
opentelemetry-semantic-conventions==0.54b1
opentelemetry-util-http==0.54b1
packaging==25.0
pluggy==1.6.0
protobuf==5.29.5
pymongo==4.13.0
pytest==8.3.5
python-dotenv==1.1.0
pytz==2025.2
PyYAML==6.0.2
redis==6.2.0
requests==2.32.3
sentinels==1.0.0
sniffio==1.3.1
SQLAlchemy==2.0.41
SQLAlchemy-Utils==0.41.2
starlette==0.46.2
thrift==0.22.0
tomli==2.2.1
types-ujson==5.10.0.20250326
typing_extensions==4.13.2
ujson==5.10.0
urllib3==2.4.0
uvicorn==0.34.2
wrapt==1.17.2
yagrc==1.1.2
zipp==3.22.0
